<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每个书单具体页面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <table class="table table-hover">
        <tr class="info">
            <th>
                <div class="col-md-1"></div>
                <div class="col-md-1">分类</div>
                <div class="col-md-2">书单名称</div>
            </th>
        </tr>
    </table>
    <div id="right" style="height:140px;width:600px;float:right;">
        <table class="table  table-hover" style="height:40px;width:550px;float:right;">
            <tr class="info">
                <th>
                    <div class="col-md-2">
                        <a href="#">
                            <img class="media-left" src="C:\Users\1\Desktop\HTML\-3098a933014b1580.png" alt="Responsive image" width="120" height="120">
                        </a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3>用户ID</h3>
                    </div>
                </th>
            </tr>
        </table>
        <br>
        <table class="table  table-hover" style="height:50px;width:550px;float:right;">
            <tr class="info">
                <th>
                    <h4><p class="text-center">该书单共有xx本书</p></h4>
                </th>
            </tr>
        </table>
        <br>
        <table class="table  table-hover" style="height:50px;width:550px;float:right;">
            <tr class="info">
                <th><h4>书单简介<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>                   
                </h4></th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</th>
            </tr>
        </table>
        <br>
        <table class="table  table-hover" style="height:50px;width:550px;float:right;">
            <tr class="info">
                <th>
                    <h4>该用户的其他书单</h4></th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxx</th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxx</th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxx</th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxx</th>
            </tr>
            <tr class="active">
                <th>xxxxxxxxxxxx</th>
            </tr>
        </table>
    </div>

    <div style="width:850px">
            <table class="table  table-hover" style="width:850px;height:240px">
                <tr>
                    <th>
                        <div style="width:850px;height:220px">
                            <div vertical-align="middle" class="panel panel-primary">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-left" src="C:\Users\1\Desktop\HTML\-3098a933014b1580.png" alt="Responsive image" width="150" height="150">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <table style="width:605px;height:200px">
                                            <tr>
                                                <th>
                                                    <div style="width:250px;height:200px">
                                                        <div class="text-justify">
                                                            <div class="col-md-24">
                                                                <h4>书名
                                                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>:xx</h4>
                                                            </div>
                                                        </div>
                                                        <div class="text-justify">
                                                            <div class="col-md-6">作者
                                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>:xxx</div>
                                                        </div>
    
                                                        <div class="text-justify" style="width:400px;height:40px;">
                                                            <div class="col-md-10">评语
                                                                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>:
                                                            </div>
                                                        </div>
                                                        <div class="text-justify" style="width:400px;height:80px;">
                                                            <div class="col-md-15">
                                                                stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                                stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    
                                                            </div>
                                                        </div>
                                                        <div class="text-justify" style="width:400px;height:40px;">
                                                            <div class="col-md-6">喜欢
                                                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>:xxx </div>
                                                            <div class="col-md-6">不感兴趣
                                                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>:xxx </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="media-right" style="float:right">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">评论</button>
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">喜欢</button>
                                                        </div>
    
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        </div>
        <div style="width:850px">
                <table class="table  table-hover" style="width:850px;height:240px">
                    <tr>
                        <th>
                            <div style="width:850px;height:220px">
                                <div vertical-align="middle" class="panel panel-primary">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <a href="#">
                                                <img class="media-left" src="C:\Users\1\Desktop\HTML\-3098a933014b1580.png" alt="Responsive image" width="150" height="150">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <table style="width:605px;height:200px">
                                                <tr>
                                                    <th>
                                                        <div style="width:250px;height:200px">
                                                            <div class="text-justify">
                                                                <div class="col-md-24">
                                                                    <h4>书名
                                                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>:xx</h4>
                                                                </div>
                                                            </div>
                                                            <div class="text-justify">
                                                                <div class="col-md-6">作者
                                                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>:xxx</div>
                                                            </div>
        
                                                            <div class="text-justify" style="width:400px;height:40px;">
                                                                <div class="col-md-10">评语
                                                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>:
                                                                </div>
                                                            </div>
                                                            <div class="text-justify" style="width:400px;height:80px;">
                                                                <div class="col-md-15">
                                                                    stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                                    stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        
                                                                </div>
                                                            </div>
                                                            <div class="text-justify" style="width:400px;height:40px;">
                                                                <div class="col-md-6">喜欢
                                                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>:xxx </div>
                                                                <div class="col-md-6">不感兴趣
                                                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>:xxx </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="media-right" style="float:right">
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">评论</button>
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">喜欢</button>
                                                            </div>
        
                                                        </div>
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
            </div>
            <div style="width:850px">
                    <table class="table  table-hover" style="width:850px;height:240px">
                        <tr>
                            <th>
                                <div style="width:850px;height:220px">
                                    <div vertical-align="middle" class="panel panel-primary">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="media-left" src="C:\Users\1\Desktop\HTML\-3098a933014b1580.png" alt="Responsive image" width="150" height="150">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <table style="width:605px;height:200px">
                                                    <tr>
                                                        <th>
                                                            <div style="width:250px;height:200px">
                                                                <div class="text-justify">
                                                                    <div class="col-md-24">
                                                                        <h4>书名
                                                                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>:xx</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="text-justify">
                                                                    <div class="col-md-6">作者
                                                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>:xxx</div>
                                                                </div>
            
                                                                <div class="text-justify" style="width:400px;height:40px;">
                                                                    <div class="col-md-10">评语
                                                                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>:
                                                                    </div>
                                                                </div>
                                                                <div class="text-justify" style="width:400px;height:80px;">
                                                                    <div class="col-md-15">
                                                                        stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                                        stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            
                                                                    </div>
                                                                </div>
                                                                <div class="text-justify" style="width:400px;height:40px;">
                                                                    <div class="col-md-6">喜欢
                                                                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>:xxx </div>
                                                                    <div class="col-md-6">不感兴趣
                                                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>:xxx </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="media-right" style="float:right">
                                                                <div class="col-md-12">
                                                                    <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">评论</button>
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">喜欢</button>
                                                                </div>
            
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
                </div>
                <div style="width:850px">
                        <table class="table  table-hover" style="width:850px;height:240px">
                            <tr>
                                <th>
                                    <div style="width:850px;height:220px">
                                        <div vertical-align="middle" class="panel panel-primary">
                                            <div class="media">
                                                <div class="media-left media-middle">
                                                    <a href="#">
                                                        <img class="media-left" src="C:\Users\1\Desktop\HTML\-3098a933014b1580.png" alt="Responsive image" width="150" height="150">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <table style="width:605px;height:200px">
                                                        <tr>
                                                            <th>
                                                                <div style="width:250px;height:200px">
                                                                    <div class="text-justify">
                                                                        <div class="col-md-24">
                                                                            <h4>书名
                                                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>:xx</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-justify">
                                                                        <div class="col-md-6">作者
                                                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>:xxx</div>
                                                                    </div>
                
                                                                    <div class="text-justify" style="width:400px;height:40px;">
                                                                        <div class="col-md-10">评语
                                                                            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>:
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-justify" style="width:400px;height:80px;">
                                                                        <div class="col-md-15">
                                                                            stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                                            stas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-justify" style="width:400px;height:40px;">
                                                                        <div class="col-md-6">喜欢
                                                                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>:xxx </div>
                                                                        <div class="col-md-6">不感兴趣
                                                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>:xxx </div>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div class="media-right" style="float:right">
                                                                    <div class="col-md-12">
                                                                        <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">评论</button>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <button type="button" class="btn btn-info" style="height:35px;width:80px;float:right">喜欢</button>
                                                                    </div>
                
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    </div>

</body>
</html>