<!DOCTYPE html>
<html>
  <head>
    <title>denglukuang</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="static/twts_243_sb-admin/twts_243_sb-admin/static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/twts_243_sb-admin/twts_243_sb-admin/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/denglukuang/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/ie.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/files/denglukuang/data.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
  <form class="form" action="" method="post">
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1288" class="ax_default box_1">
        <div id="u1288_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1289" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1290" class="ax_default line">
        <img id="u1290_img" class="img " src="static/images/index/u231.png"/>
        <!-- Unnamed () -->
        <div id="u1291" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u1292" class="ax_default text_field">
        {{form.user()}}
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u1293" class="ax_default text_field">
       {{form.password()}}
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1294" class="ax_default label">
        <div id="u1294_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1295" class="text" style="visibility: visible;">
          <p><span>用户名：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1296" class="ax_default primary_button">
        <div id="u1296_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1297" class="text" style="visibility: visible;">
          <p><span>{{form.submit()}}</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <a href="http://127.0.0.1:5000/regist"><div id="u1298" class="ax_default primary_button">
        <div id="u1298_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1299" class="text" style="visibility: visible;">
          <p><span>还没有账号？立即注册</span></p>
        </div>
      </div>
</a>
      <!-- Unnamed (矩形) -->
      <div id="u1300" class="ax_default label">
        <div id="u1300_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1301" class="text" style="visibility: visible;">
          <p><span>密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1302" class="ax_default _三级标题">
        <div id="u1302_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1303" class="text" style="visibility: visible;">
          <p><span>登录</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u1304" class="ax_default icon">
        <img id="u1304_img" class="img " src="static/images/index/u245.png"/>
        <!-- Unnamed () -->
        <div id="u1305" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </form>
  </body>
</html>
