<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="top">
        <br>
        <br>
        <div class="row">
           <div class="col-md-1"><p class="text-center"><a href="{{url_for('index')}}"><img src="static\images\logo.png" width="50" height="50"></a></p></div>
             <div class="col-md-2"><p class="text-center"><a href="{{url_for('all_book_list')}}">所有书单</a></p></div>
            <div class="col-md-2"><p class="text-center"><a href="{{url_for('insert_new_book')}}">新建书单</a></p></div>
            <div class="col-md-3">

                <div class="col-md-4">
                    <!-- Single button -->
                    <select class="form-control">
                        <option>男频</option>
                        <option>女频</option>

                    </select>
                </div>

                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                    </div>
                </div>
            </div>
            {%if not session['user_name']%}
            <div class="col-md-1">

                <a href="login"><p class="text-center">登录</p></a>
            </div>
            {% else%}
            <div class="col-md-1">
                <p class="text-center">{{session['user_name']}}</p>
                </div>
                <div class="col-md-1"><a href="{{url_for('outlogin')}}?back_url=index"><p class="text-center">退出账号</p></a></div>
                <div class="col-md-1"><a href="#"><p class="text-center">我的关注</p></a></div>
                <div class="col-md-1"><a href="{{url_for('user_book_list')}}"><p class="text-center">我的书单</p></a></div>


                {%endif%}
        </div>
        <div class="row">
                <div class="categroy">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th><a href="{{url_for('category')}}?book_type=1">玄幻奇幻</a></th>
                            <th><a href="{{url_for('category')}}?book_type=2">仙侠武侠</a></th>
                            <th><a href="{{url_for('category')}}?book_type=3">现代都市</a></th>
                            <th><a href="{{url_for('category')}}?book_type=4">历史军事</a></th>
                            <th><a href="{{url_for('category')}}?book_type=5">游戏竞技</a></th>
                            <th><a href="{{url_for('category')}}?book_type=6">科幻灵异</a></th>
                            <th><a href="{{url_for('category')}}?book_type=7">同人短篇</a></th>
                            <th><a href="{{url_for('category')}}?book_type=8">古代言情</a></th>
                            <th><a href="{{url_for('category')}}?book_type=9">现代言情</a></th>

                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form action="" method="post">

            <div class="form-group has-feedback">
                <label for="username">用户名</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="username" name="username" class="form-control" placeholder="请输入用户名" maxlength="20"
                           type="text">
                </div>

                <span style="color:red;display: none;" class="tips"></span>
                <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <label for="password">密码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="password" name="password" class="form-control" placeholder="请输入密码" maxlength="20"
                           type="password">
                </div>

                <span style="color:red;display: none;" class="tips"></span>
                <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <label for="passwordConfirm">确认密码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="passwordConfirm" name="confirm_password" class="form-control" placeholder="请再次输入密码"
                           maxlength="20" type="password">
                </div>
                <span style="color:red;display: none;" class="tips"></span>
                <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>


            <div class="form-group">
                <input class="form-control btn btn-primary" id="submit" value="立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册"
                       type="submit">
            </div>

            <div class="form-group">
                <input value="重置" id="reset" class="form-control btn btn-danger" type="reset">
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="form-group">

                <div class="alert alert-danger" role="alert">两次密码不一致</div>


            {% endif %}
                {% endwith %}</div>
        </form>
    </div>
</div>